<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item menu__item--current"><a class="menu__link" href="/">Home <span class="sr-only">(current)</span></a></li>
          <li role="presentation"><a href="/cart" class="menu__link"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a></li>
            <li role="presentation"><a href="/promotions" class="menu__link"><i class="fa fa-chevron-right" aria-hidden="true"></i> Promotions</a></li>
            <li role="presentation"><a href="/summary" class="menu__link"><i class="fa fa-file-text" aria-hidden="true"></i> Summary</a></li>

            <li role="presentation"><a href="/editprofile"  class="menu__link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Profile</a></li>
            <li role="presentation"><a href="/logout"  class="menu__link"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
				  </ul>
				</div>


			  </div>
			</nav>
		</div>

</div>
</div>
