 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/daysForGirls.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= sess.username %></p>
        </div>
      </div> -->

      <ul class="sidebar-menu">

        <li class="treeview">
          <a href="shippingDashboard">
              <i class="fa fa-tachometer" aria-hidden="true"></i> <span>Dashboard</span>
          </a>
        </li>

        <li class="treeview">
          <a href="shippingHistory">
            <i class="fa fa-history" aria-hidden="true"></i> <span>Shipping History</span>
          </a>
        </li>


<!--         <li class="treeview">
          <a href="trends">
            <i class="fa fa-line-chart"></i> <span>Trends</span>
          </a>
        </li>
 -->  </aside>
