
<!DOCTYPE html>
<html>

<% include ../partials/stylesheetLinks %>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <% include ../partials/header %>

  <% include ../partials/nav %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Add Sizes
        <small>Add new  sizes to products.</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-md-6">
          <div class="box box-primary">

          <div>
          <form action="/addSizes" role="form" method="post" enctype="multipart/form-data">
              <div class="box-body">

              </div>
              <!-- /.box-body -->

            <div class="form-group">
                <label class="col-md-3 control-label">Select Product</label>
                <select class="form-control" id="selectProd" name="selectProd" required="required">
                  <option disabled selected value></value>
                      <% result.forEach(function(result){ %>
                    <option><%= result.PID %></option>
                  <% }) %>
                </select>
              </div>



              <div class="form-group">
                <label class="col-md-3 control-label" for="reorderQuantity">Size</label>
                <select class="form-control" id="SizeL" name="SizeL" required="required">
                  <option disabled selected value></value>
                      <% result3.forEach(function(result3){ %>
                    <option><%= result3.Size %></option>

                  <% }) %>
                  <option>Other</option>
                </select>

              </div>

              <div class="form-group">
                <label  style= "color:red" for="units">Size(If the size is not in the list)</label>
                <input type="text" class="form-control" id="Size" placeholder="Enter Size(Optional)" name="Size">
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="reorderQuantity">Colour</label>
                <select class="form-control" id="ColourL" name="ColourL" required="required">
                  <option disabled selected value></value>
                      <% result4.forEach(function(result4){ %>
                    <option><%= result4.Colour %></option>

                  <% }) %>
                    <option>Other</option>
                </select>
              </div>

              <div class="form-group">
                <label  style= "color:red" for="units">Colour(If the colour is not in the list)</label>
                <input type="text" class="form-control" id="Colour" placeholder="Enter Colour(Optional)" name="Colour">
              </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="units">Quantity</label>
              <input type="number" class="form-control" id="StockAmnt" placeholder="Enter units" required="required" name="StockAmnt">
            </div>

				    </div>
	        </div> <!-- /form-group-->

              <div class="box-footer">
                <input type="submit" id="Add" value="Add" class="btn btn-primary"/>
              </div>
            </form>
          </div>




  </div>
    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->

<% include ../partials/scripts %>


</body>
</html>
