<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/searchPage/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/searchPage/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/searchPage/assets/css/user.css">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/user.css">
        <% include ../partials/stylesheetLinks %>
        <link href="/prof/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/prof/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/prof/css/font-awesome.css" rel="stylesheet">
        <link href="/prof/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
</head>
<body>
  <% include ../partials/Inheader %>
    <h1 style=" text-align: center;">Your Have purchased the product Successfully !</h1>
    <h3 style=" text-align: center;">Want to buy more goods ?</h3>
    <h4 style=" text-align: center;"><a href="/">Go Home</a></h4>


 <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h5>Retail Management© </h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="searchPage/assets/js/jquery.min.js"></script>
    <script src="searchPage/assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
